#blanc {
    background-color: blue;
        width: 300px;
        height: 200px;
        border: 1px solid black;
        
        
    
}

#bleu {
    background-color: red;
        width: 250px;
        height: 150px;
        border: 1px solid black;
        margin: 24px 24px;
        
}

#rouge {
    background-color: yellow;
    width: 200px;
    height: 100px;
    border: 1px solid black;
    margin: 24px 24px;
}